* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: rgb(31, 141, 204);
}

label.logo {
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 10px 0px 0 20px;
    /* top bottom - rigth left*/
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    /*lmao */
}

#check {
    display: none;
}

.login * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.signup * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.login, .signup .center {
    height: 100vh;
    width: 100%;
    background: linear-gradient(115deg, #23a1d3 10%, #ffffff 90%);
}

/* .signup .center {
    height: 100vh;
    width: 100%;
    background: linear-gradient(115deg, #23a1d3 10%, #ffffff 90%);
    font-size: larger;
} */

.login .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 7px;
}

.signup .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 7px;
}


.login .container .text {
    font-size: 35px;
    font-weight: 550;
    text-align: center;
}

.signup .container .text {
    font-size: 35px;
    font-weight: 550;
    text-align: center;
}

.login, .signup .container form {
    margin-top: -20px;
}

.login .container form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

.signup .container form .data {
    height: 25px;
    width: 100%;
    margin: 40px 0;
}

.login form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.signup form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.signup form .data select {
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.login form .btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.signup form .btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.login form .btn .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #43bce1, #e3eaeb);
}

.signup form .btn .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #43bce1, #e3eaeb);
}

.login form .btn button {
    height: 100%;
    width: 100%;
    background: none;
    border: black;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}



.signup form .btn button {
    height: 100%;
    width: 100%;
    background:#43bce1;
    border: black;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.login form .signin {
    text-align: center;
}

.login .closebtn {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.menu .nameUser {
    display: block;
    color: greenyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


